In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

In [5]:
series=pd.Series([4,8,15,16,23,42])

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
''' Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''

' Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the\nvariable print it.'

In [9]:
create_list=[1,2,3,23,12,21,21,21,23]
my_series=pd.Series(create_list)

In [10]:
print(my_series)

0     1
1     2
2     3
3    23
4    12
5    21
6    21
7    21
8    23
dtype: int64

In [12]:
data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Femaile','Male','Female']
     }
data_frame1=pd.DataFrame(data)

In [13]:
print(data_frame1)

     Name  Age   Gender
0   Alice   25  Femaile
1     Bob   30     Male
2  Claire   27   Female

In [14]:
'''Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''

'Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

In [15]:
'''In pandas a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It's similar to an Excel spreadsheet or a table in a relational database.

A Series, on the other hand, is a 1-dimensional labeled array capable of holding any data type (integer, string, float'''

"In pandas a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It's similar to an Excel spreadsheet or a table in a relational database.\n\nA Series, on the other hand, is a 1-dimensional labeled array capable of holding any data type (integer, string, float"

In [16]:
''''What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?'''

"'What are some common functions you can use to manipulate data in a Pandas DataFrame? Can\nyou give an example of when you might use one of these functions?"

In [17]:
''' functions are 
drop(): Remove rows or columns based on conditions. Example: df.dropna() to remove rows with missing values.

filter(): Select rows based on conditions. Example: df.filter(items=['column1', 'column2']) to select specific columns.

groupby(): Group data by one or more columns and perform aggregation. Example: df.groupby('category').mean() to calculate the mean of each group.

'''

" functions are \ndrop(): Remove rows or columns based on conditions. Example: df.dropna() to remove rows with missing values.\n\nfilter(): Select rows based on conditions. Example: df.filter(items=['column1', 'column2']) to select specific columns.\n\ngroupby(): Group data by one or more columns and perform aggregation. Example: df.groupby('category').mean() to calculate the mean of each group.\n\n"